
.cssload-loader {
	width: 656px;
	height: 131px;
	line-height: 131px;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: Fira Sans, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size:60px;
	color: rgb(0,0,0);
	letter-spacing: 0.2em;
    top: 300px;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 39px;
	height: 39px;
	background: rgb(60,0,255);
	position: absolute;
	animation: cssload-load 1.65s infinite alternate ease-in-out;
		-o-animation: cssload-load 1.65s infinite alternate ease-in-out;
		-ms-animation: cssload-load 1.65s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 1.65s infinite alternate ease-in-out;
		-moz-animation: cssload-load 1.65s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}



@keyframes cssload-load {
	0% {
		left: 0;
		height: 79px;
		width: 39px;
	}
	50% {
		height: 21px;
		width: 105px;
	}
	100% {
		left: 617px;
		height: 79px;
		width: 39px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 79px;
		width: 39px;
	}
	50% {
		height: 21px;
		width: 105px;
	}
	100% {
		left: 617px;
		height: 79px;
		width: 39px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 79px;
		width: 39px;
	}
	50% {
		height: 21px;
		width: 105px;
	}
	100% {
		left: 617px;
		height: 79px;
		width: 39px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 79px;
		width: 39px;
	}
	50% {
		height: 21px;
		width: 105px;
	}
	100% {
		left: 617px;
		height: 79px;
		width: 39px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 79px;
		width: 39px;
	}
	50% {
		height: 21px;
		width: 105px;
	}
	100% {
		left: 617px;
		height: 79px;
		width: 39px;
	}
}