html{
  scroll-behavior: smooth;
 
} 

body {
  background-image: url("lauren-mancke-aOC7TSLb1o8-unsplash.jpg"); 
  /*background-size:cover;*/
  /*background-size: 1920px 1080px;*/
  background-size: cover;
  /* background-position-y: -1030px;*/
}
.fadeIn {
	animation: fadeIn 2.5s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

.colorChange {
  color: rgb(0,191,255);
  animation: changeColor 3s;
  opacity:1;
}

@keyframes changeColor {
  from {
    color : white
  }

  to {
    color:rgb(0, 191, 255)
  }
}

/*::-moz-selection {*/ /* Code for Firefox */
/*  color: #04d2d2;
  background: rgb(0, 204, 255);
}

::selection {
  color: #04d2d2;
  background: rgb(0, 204, 255);
}*/

 .searchEngineFinder {
    font-size: 0.01px;
}


/*:-webkit-scrollbar {
    display:none;
}*/

/*cursor {
    cursor: ;
}*/

::-webkit-scrollbar {
  width: 10px;
  cursor: auto;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 15 20px rgb(0, 204, 255); 
  border-radius: 10px;
  cursor: auto;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00bbff; 
  border-radius: 10px;
  cursor: auto;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00bbff; 
  cursor: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:-143px;
    padding: 7px 10%;
    background-color: rgb(36, 36, 36);
  }
  
  .logo {
    position: static;
    bottom: -30px;
    cursor: hand;
    order: 1;
    margin-left: -110px;
  }
  
  nav {
    order: 1;
    /*position: relative;*/
  }

  
  
  .nav__links a,
  .cta,
  .cta2,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    font-size: 16px;
    position: relative;
    right: -65px;
    
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    order: 2;
    margin-right: -190px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .cta2 {
    order: 2;
    margin-right: -110px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .cta2:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }

  
  
  .zoomInDown {
    animation-name: zoomInDown;
  }

  @keyframes zoomInDown {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }


  .typewriter {
    font-family: 'Ubuntu', sans-serif;
	display: inline-block;
}

.typewriter-text {
  position:relative; top: 280px; font-family: 'Ubuntu', sans-serif; font-size: 87px; color: rgb(255, 255, 255); margin: 0px; padding: 0px; text-align: center;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

 
  
